:root {
  --chat-background: rgba(10, 14, 14, 0.95);
  --chat-panel-background: #131719;
  --chat-bubble-background: #14181a;
  --chat-add-button-background: #212324;
  --chat-send-button-background: #8147fc;
  --chat-text-color: #a3a3a3;
  --chat-options-svg: #a3a3a3;
}

#chat {
  width: calc(100% - 250px);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.chat__conversation-board {
  /* height: calc(100vh - 55px - 2em - 50px); */
  height: calc(100vh - 148px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 10px;
}
.noMsg {
  text-align: center;
  color: var(--text-secondary);
}
.chat__conversation-board__message-container {
  display: flex;
  gap: 1.2em;
}

.chat__conversation-board__message-container.reversed {
  flex-direction: row-reverse;
}

.chat__conversation-board__message__person {
}

.chat__conversation-board__message__person__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.chat__conversation-board__message__person__avatar svg {
  width: 100%;
  height: auto;
}

.chat__conversation-board__message__context {
  max-width: 55%;
  background: var(--chat-bubble-background);
  padding: 0.5em 0.8em;
  border-radius: 6px;
  font-size: 14px;
  color: var(--chat-text-color);
}

.chat__conversation-board__message__bubble .message {
  display: inline-block;
  color: whitesmoke;
  line-height: 1.5;
  font-size: 16px;
  word-break: break-word;
  margin-top: 5px;
  white-space: pre-wrap;
}

.chat__conversation-board__message__bubble span:not(:last-child) {
  margin-bottom: 0.3em;
}

.chat__conversation-panel {
  background: var(--chat-panel-background);
  border-radius: 12px;
  padding: 0 1em;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.chat__conversation-panel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 88%;
}

.chat__conversation-panel__input {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--chat-text-color);
  font-size: 15px;
  position: relative;
  font-family: "Lato", sans-serif;
  resize: none;
}

.chat__conversation-panel__button {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}
.chat__conversation-panel__button:hover {
  background-color: var(--chat-add-button-background);
}

.chat__conversation-panel__button svg {
  height: auto;
  fill: #e3e3e3;
}

@media only screen and (max-width: 768px) {
  #chat {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .chat__conversation-panel {
    width: calc(100% - 45px);
  }
}

/* hide scrollbar */
.chat__conversation-panel__input::-webkit-scrollbar {
  display: none;
}
.chat__conversation-panel__input {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loading{
  height: 30px;
}