.user_sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-right: 1px solid var(--border-color);
  z-index: 30;
}

.user_sidebar-section-title {
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.user_sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user_sidebar ul .item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.user_sidebar ul .item:hover {
  background-color: var(--hover-color);
}

.user_sidebar ul .item a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_sidebar ul .item a .name {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user_sidebar ul .item a:hover {
  color: var(--text-primary);
}

.user_sidebar ul .item .item-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user_sidebar ul .item a svg {
  width: 30px;
  height: 30px;
}

.user_sidebar ul .item a .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.user_sidebar ul .item a .offline {
  background-color: var(--text-secondary);
}

.user_sidebar ul .item a .online {
  background-color: var(--online-color);
}

.toggle-user_sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .user_sidebar {
    height: max-content;
    width: calc(100% - 19px);
    display: none;
    position: absolute;
    bottom: 65px;
    border-radius: 10px;
    padding: 10px;
    z-index: 20;
    max-height: 395px;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .toggle-user_sidebar {
    position: fixed;
    bottom: 12px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background-secondary);
    border-radius: 10px;
    z-index: 20;
  }

  .user_sidebar-section {
    display: none;
    transition: background-color 0.3s ease;
    margin-bottom: 1.5rem;
  }

  .toggle-user_btn {
    width: max-content;
    height: max-content;
    padding: 12px;
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }

  .toggle-user_btn:hover {
    box-shadow: 0 0 5px 0 #3d3d3da9;
  }

  .toggle-user_btn svg {
    width: 20px;
    height: 20px;
    fill: var(--text-secondary);
  }
}
